
<form name="add_cash" action="{:U('home/financing/addcard')}" method="post">
	<h4><strong>新增信用卡融资业务</strong></h4>
	<div class="form-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>融资人</label>
					<input type="text" name="add[customer]" class="form-control input-large" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>信用卡额度</label>
					<input type="text" name="add[money]" class="form-control input-large" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>手机号码</label>
					<input type="text" name="add[mobile]" class="form-control input-large" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>利息</label>
					<input type="text" name="add[rate]" class="form-control input-large" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>融资时间</label>
					<div class="input-group input-large date date-picker" data-date="date()" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
						<input type="text" class="form-control" name="add[startime]">
						<span class="input-group-btn">
							<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>发卡行</label>
					<select name="add[cbankname]" class="form-control input-large">
						<volist name="banks" id="vo">
						<option value="{$vo.sign}">------------------{$vo.bankname}-----------------</option>
						</volist>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>介绍人</label>
					<input type="text" name="add[sponsor]" class="form-control input-large" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>信用卡号</label>
					<input type="text" name="add[ccardnum]" class="form-control input-large" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>账单日期</label>
					<input type="text" name="add[zday]" class="form-control input-large" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>打款银行</label>
					<select name="add[bankname]" class="form-control input-large">
						<volist name="banks" id="vo">
						<option value="{$vo.sign}">------------------{$vo.bankname}-----------------</option>
						</volist>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>还款日期</label>
					<input type="text" name="add[hkday]" class="form-control input-large" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>打款卡号</label>
					<input type="text" name="add[cardnum]" class="form-control input-large" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2"><input type="submit" name="submit_addcard" class="btn blue btn-lg"  value="提&nbsp;交" /></div>
			<div class="col-md-6"></div>
		</div>	
	</div>
</form>