
<a href="{:U('home/financing/cardinfo',array('id' => $ecard['id']))}" class="btn btn-primary pull-right">返&nbsp;回&nbsp;<i class="fa fa-reply"></i></a>

<form name="edit_card" action="{:U('home/financing/editcard', array('id' => $ecard['id']))}" method="post">
	<h4><strong>信用卡融资业务</strong></h4>
	<div class="form-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>融资人</label>
					<input type="text" name="edit[customer]" class="form-control input-large" value="{$ecard.customer}" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>信用卡额度</label>
					<input type="text" name="edit[money]" class="form-control input-large" value="{$ecard.money}" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>手机号码</label>
					<input type="text" name="edit[mobile]" class="form-control input-large" value="{$ecard.mobile}" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>利息</label>
					<input type="text" name="edit[rate]" class="form-control input-large" value="{$ecard.rate}"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>融资时间</label>
					<div class="input-group input-large">
						<input type="text" class="form-control" name="edit[startime]" value="{$ecard.startime|date='Y-m-d',###}">
						
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>提现时间</label>
					<div class="input-group input-large date date-picker" data-date="date()" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
						<input type="text" class="form-control" name="edit[endtime]">
						<span class="input-group-btn">
							<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>发卡行</label>
					<select name="edit[cbankname]" class="form-control input-large">
						<volist name="banks" id="vo">
						<option value="{$vo.sign}">------------------{$vo.bankname}-----------------</option>
						</volist>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>信用卡号</label>
					<input type="text" name="edit[ccardnum]" class="form-control input-large" value="{$ecard.cardnum}"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>介绍人</label>
					<input type="text" name="edit[sponsor]" class="form-control input-large" value="{$ecard.sponsor}"/>
				</div>
			</div>
		</div>	
	</div>
	<div>
		<input type="submit" name="submit_editcard" class="btn blue btn-block"  value="提交" />
	</div>
</form>