<a href="{:U('home/financing/addcash')}" class="btn blue pull-right">新增现金融资&nbsp;&nbsp;<i class="fa fa-plus"></i></a>
<table class="table table-condensed table-hover">
	<thead >
		<tr>
			<th>ID</th>
			<th>融资人</th>
			<th>融资金额</th>
			<th>融资时间</th>
			<th>持续时间</th>
			<th>利息</th>
			<th>手机号</th>
			<th>当前状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody >
		<volist name="fcash" id="vo">
			<tr>
				<td>{$vo.id}</td>
				<td>{$vo.customer}</td>
				<td>{$vo.money}</td>
				<td>{$vo.startime|date="Y-m-d",###}</td>
				<td><php>echo intval((NOW_TIME - $vo['startime'])/(3600*24)).'天';</php></td>
				<td>{$vo.rate}</td>
				<td>{$vo.mobile}</td>
				<td>
					<php>
						if(D("financecash")->review_verify($vo['id'])){
							echo $kills[$vo['status']].'(<span class="text-success">已审核</span>)';
						} else {
							echo $kills[$vo['status']].'(<span class="text-danger">未审核</span>)';
						}
					</php>
				</td>
				<td>
					<a href="{:U('home/financing/cashinfo', array('id' => $vo['id']))}" class="btn btn-xs green">详&nbsp;情</a>
					<a href="{:U('home/Financing/review', array('id' => $vo['id']))}" class="btn btn-xs blue">审&nbsp;核</a>
					<input type="button" onclick="del({$vo.id})" class="btn btn-xs red" value="删&nbsp;除" />
				</td>
			</tr>
		</volist>
	</tbody>
</table>
<script type="text/javascript">
	function del(val){
	  var name=confirm("确定删除该纪录？");
	  if (name == true){
	  	window.location.href="index.php?m=home&c=Financing&a=delfina&id="+val;
	  }else{
	  	window.location.reload();
	  }
	}
</script>
