<a href="{:U('home/financing/cashinfo',array('id' => $wcash['id']))}" class="btn btn-primary pull-right">返&nbsp;回&nbsp;<i class="fa fa-reply"></i></a>
<div style="font:bold 16px Microsoft YaHei;">融资提现</div>
<table class="table table-bordered table-hover">
	<tbody>
		<tr><th>ID</th><th>融资人</th><th>联系电话</th><th>当前状态</th></tr>
		<tr style="color:DodgerBlue;">
			<td>{$wcash.id}</td>
			<td>{$wcash.customer}</td>
			<td>{$wcash.mobile}</td>
			<td>
				<php>
					if(D("financecash")->review_verify($wcash['id'])){
						echo $kills[$wcash['status']].'(<span class="text-success">已审核</span>)';
					} else {
						echo $kills[$wcash['status']].'(<span class="text-danger">未审核</span>)';
					}
				</php>
			</td>
		</tr>

		<tr><th>融资金额</th><th>融资利息</th><th>融资时间</th><th>提现时间</th></tr>
		<tr style="color:DodgerBlue;">
			<td>{$wcash.money}</td>
			<td>{$wcash.rate}</td>
			<td>{$wcash.startime|date="Y-m-d", ###}</td>
			<td>{$wcash.endtime|date="Y-m-d",###}</td>
		</tr>

		<tr><th>打款银行</th><th colspan="2">打款卡号</th><th>介绍人</th></tr>
		<tr style="color:DodgerBlue;">
			<td>{$wcash.bankname}</td>
			<td colspan="2">{$wcash.cardnum}</td>
			<td>{$wcash.sponsor}</td>
		</tr>
	</tbody>
</table>

<div class="">
	<div class="clearfix pull-right">
		<a href="{:U('home/Financing/review', array('id' => $wcash['id']))}" class="btn btn-primary">审&nbsp;核</a>
		<a href="#" class="btn btn-success">提&nbsp;现</a>
		<a href="#" class="btn btn-warning">编辑</a>
		<a href="#" class="btn btn-danger">删除</a>
	</div>
</div>
