<form name="settings_form" action="{:U('home/setting/settings')}" method="post">
<div class="form-body">
	<volist name="setting" id="vo">
		<table class="table table-condensed table-hover">
			<tbody>
				<tr><td><h4><strong>{$vo.stitle}</strong></h4></td><td></td></tr>
				<tr>
					<td style="border:none;width:300px;"><php>echo input_build($vo['skey'], $vo['stype'], $vo['svalue']);</php></td>
					<td style="border:none;">{$vo.sremark}</td>
				</tr>
			</tbody>
		</table>
	</volist>
	<div class="form-group">
		<label>Skey</label>
		<input type="text" name="add[skey]" class="form-control input-large" />
	</div>
	<div class="form-group">
		<label>Svalue</label>
		<input type="text" name="add[svalue]" class="form-control input-large" />
	</div>
	<div class="form-group">
		<label>描述</label>
		<input type="text" name="add[stitle]" class="form-control input-large" />
	</div>
	<div class="form-group">
		<label>备注</label>
		<input type="text" name="add[sremark]" class="form-control input-large" />
	</div>
		<div class="form-group">
		<label>类型</label>
		<select class="form-control input-xsmall" name="add[stype]">
			<option value="off">开关</option>
			<option value="text">文本框</option>
			<option value="radio">单选框</option>
			<option value="checkbox">复选框</option>
			<option value="select">下拉菜单</option>
			<option value="textarea">复文本框</option>
		</select>
		</div>
</div>
<input type="submit" name="submit_settings" class="btn btn-info" value="提交" />
</form>