<form name="settings_form" action="{:U('home/setting/settings')}" method="post">
	<volist name="setting" id="vo">
<table class="table table-condensed table-hover">
	<tbody>
		<tr><td><h4><strong>{$vo.stitle}</strong></h4></td><td></td></tr>
		<tr><td style="border:none;width:300px;"><php>echo input_build($vo['skey'], $vo['stype'], $vo['svalue']);</php></td><td style="border:none;">{$vo.sremark}</td></tr>
	</tbody>
</table>
	</volist>
	skey:<input type="text" name="skey" class="form-control input-small" />
	svalue:<input type="text" name="svalue" class="form-control input-small" />
	stitle:<input type="text" name="stitle" class="form-control input-small" />
	sremark:<input type="text" name="sremark" class="form-control input-small" />
	stype:<select name="stype">
		<option value="off">开关</option>
		<option value="text">文本框</option>
		<option value="radio">单选框</option>
		<option value="checkbox">复选框</option>
		<option value="select">下拉菜单</option>
		<option value="textarea">复文本框</option>
	</select>
<input type="submit" name="submit_settings" class="btn btn-default" value="提交" />
</form>