<form name="sidebar_form" action="{:U('home/setting/sidebar')}" method="post">
<table class="table table-condensed table-hover">
	<thead><tr><th>ID</th><th>排序</th><th>菜单名称</th><th>控制器</th><th>操作名</th><th>图标</th></tr></thead>
	<tbody>
	<volist name="sidebar" id="vo">
		<tr>
			<td style="border:none; padding-top:18px;">{$vo.id}</td>
			<td style="border:none;"><input type="text" name="edit[{$vo.id}][displayorder]" value="{$vo.displayorder}" class="form-control" style="width:50px;"></td>
			<td style="border:none;"><input type="text" name="edit[{$vo.id}][title]" class="form-control input-small" value="{$vo.title}"></td>
			<td style="border:none;"><input type="text" name="edit[{$vo.id}][controller]" class="form-control input-small" value="{$vo.controller}"></td>
			<td style="border:none;"><input type="text" name="edit[{$vo.id}][action]" class="form-control input-small" value="{$vo.action}"></td>
			<td style="border:none;"><input type="text" name="edit[{$vo.id}][icon]" class="form-control input-small" value="{$vo.icon}"></td>			
		</tr>
	</volist>
	<tr>
		<td style="border:none;"><input type="text" name="add[upid]" class="form-control" value="" style="width:50px;"></td>
		<td style="border:none;"><input type="text" name="add[displayorder]" class="form-control" value="" style="width:50px;"></td>
		<td style="border:none;"><input type="text" name="add[title]" class="form-control input-small" value=""></td>
		<td style="border:none;"><input type="text" name="add[controller]" class="form-control input-small" value=""></td>
		<td style="border:none;"><input type="text" name="add[action]" class="form-control input-small" value=""></td>
		<td style="border:none;"><input type="text" name="add[icon]" class="form-control input-small" value=""></td>	
	</tr>
	</tbody>
</table>
<input type="submit" name="submit_sidebar" class="btn btn-default" value="提交" />
</form>