/* here you can put your own css to customize and override the theme */

html,body,div,span,li,ul,a,p,i,input,button,select,option {
font-family:"Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
}

.table thead tr th{
	font-weight: bold;
}
.table tbody tr:hover{
	background-color: none;
}
.table tbody tr td table{
	background-color: #FAEBD7;
	margin-left:30px;
	/*display: none;
*/}

.table tbody tr td table thead tr th{
	font-weight: 100;
	font-size: 12px;
	padding-left:10px;
}

/*
* Date:  28/10/2014;
* Content:  表单元素td th内容居中;
*/
td,th {
	text-align:center;
}