<style type="text/css">
	td,th {text-align:center;}
</style>
<table class="table table-bordered table-hover">
	<thead >
		<tr>
			<th>ID</th>
			<th>借贷人</th>
			<th>借贷金额</th>
			<th>借贷时间</th>
			<th>利息</th>
			<th>手机号</th>
			<th>状态</th>
			<th>借贷类型</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody >
		<volist name="ad" id="semir">
			<tr>
				<td>{$semir.id}</td>
				<td>{$semir.customer}</td>
				<td>{$semir.money}</td>
				<td>{$semir.dateline|date="Y-m-d",###}</td>
				<td>{$semir.rate}</td>
				<td>{$semir.mobile}</td>
				<td>
				</td>
				<td>
					<select id="super{$semir.id}" name="add_loan" onchange="some(this.id,this.value)">
						<option value="">---请选择---</option>
						<option value="housing">房产抵押借贷</option>
						<option value="car">车辆抵押借贷</option>
					</select>
				</td>
				<td>
					<a id="noder{$semir.id}" href="#" class="btn btn-xs blue">新&nbsp;增</a>
					<input type="button" href="#" class="btn btn-xs red" value="删&nbsp;除" />
				</td>
			</tr>
		</volist>
	</tbody>
</table>

<script>
	function some(id,value){
		var ls = id.substr(5);
		var auto = document.getElementById("noder"+ls);
		// alert(auto.href);
		if (value == 'housing') {
			auto.href = "{:U('home/loan/add_housing')}"+"&id="+ls;
		} else if(value == 'car'){
			auto.href = "{:U('home/loan/add_car')}"+"&id="+ls;
		} else{
			auto.href = "#";
		}
		// alert(auto.href);
	}
</script>