<form name="add_to_car" action="{:U('home/loan/add_to_car')}" method="post">
	<h4><strong>请选择资料项</strong></h4><a class="btn btn-primary pull-right" href="{:U('home/loan/add_label')}">添加资料选项</a>
	<table class="table table-condensed table-hover">
		<thead >
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody >
			<volist name="add_to_car" id="vo">
				<tr>
					<td><input type="checkbox" name="add_to_car[]" value="{$vo.fieldid}" />{$vo.title}</td>
					<td>{$vo.description}</td>
					<td><a href="{:U('home/loan/edit_options',array('fieldid' => $vo['fieldid']))}">编辑</a></td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div>
		<input type="submit" name="submit_add_to_car" class="btn blue btn-default"  value="提交" />
	</div>
</form>