<form name="add_housing_options" action="{:U('home/loan/edit_housing_options',array('fieldid' => $eo['fieldid']))}" method="post">
	<div class="form-body">
		<volist name="eo" id="vo">
		<div class="form-group">
			<label>fieldid</label>
			<input type="text" class="form-control input-small" name="edit[fieldid]" placeholder="{$vo.fieldid}" readonly="readonly" />
		</div>
		<div class="form-group">
			<label>title</label>
			<input type="text" class="form-control input-small" name="edit[title]" placeholder="{$vo.title}" />
		</div>
		<div class="form-group">
			<label>description</label>
			<input type="text" class="form-control input-large" name="edit[description]" placeholder="{$vo.description}" />
		</div>
		<div class="form-group">
			<label>类型</label>
			<select class="form-control input-small" name="edit[formtype]">
				<option value="text">文本框</option>
				<option value="off">开关</option>
				<option value="radio">单选框</option>
				<option value="checkbox">复选框</option>
				<option value="select">下拉菜单</option>
				<option value="textarea">复文本框</option>
				<option value="upload">文件上传</option>
			</select>
		</div>
		</volist>
	<div>
		<input type="submit" name="submit_add_housing_options" class="btn blue btn-default"  value="提交" />
	</div>
	</div>
</form>