小贷业务订单列表
<p class="top15 captcha" id="captcha-container">  
  <input name="verify" width="50%" height="50" class="captcha-text" placeholder="验证码" type="text">                  
  <img width="30%" class="left15" height="50" alt="验证码" src="{:U('Home/loan/llist',array())}" title="点击刷新">  
</p>

<script>
	var captcha_img = $('#captcha-container').find('img');  
	var verifyimg = captcha_img.attr("src");  
	captcha_img.attr('title', '点击刷新');  
	captcha_img.click(function(){  
	    if( verifyimg.indexOf('?')>0){  
	        $(this).attr("src", verifyimg+'&random='+Math.random());  
	    }else{  
	        $(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
	    }  
	}); 
</script>