<a href="{:U('home/Loan/llist')}" class="btn btn-md blue pull-right">返&nbsp;回&nbsp;<i class="fa fa-reply"></i></a>
<div style="font:bold 16px Microsoft YaHei;">现金融资详情</div>
<volist name='bmw' id='sharp'>
<table class="table table-bordered table-hover">
	<tbody>
		<tr><th>ID</th><th>客户名称</th><th>联系电话</th><th>融资时间</th></tr>
		<tr style="color:DodgerBlue;">
			<td>{$sharp.stype}</td>
			<td>{$sharp.customer}</td>
			<td>{$sharp.mobile}</td>
			<td>{$sharp.startime|date="Y-m-d", ###}</td>
		</tr>
		<tr><th>融资金额</th><th>融资利息</th><th>持续时间</th><th>当前状态</th></tr>
		<tr style="color:DodgerBlue;">
			<td>{$sharp.money}</td>
			<td>{$sharp.rate}</td>
			<td><php>echo intval((NOW_TIME - $sharp['startime'])/(3600*24)).'天';</php></td>
			<td>

			</td>
		</tr>
		<tr><th>打款银行</th><th colspan="2">打款卡号</th><th>介绍人</th></tr>
		<tr style="color:DodgerBlue;">
			<td>
					<php>
						echo $banks[$sharp['bankname']]['bankname'];
					</php>
			</td>
			<td colspan="2">{$sharp.cardnum}</td>
			<td>{$sharp.sponsor}</td>
		</tr>
	</tbody>
</table>
</volist>